body
{
    background-color: rgb(113, 151, 255);
}
h1
{
    font-size: 50px;
    font-weight: bolder;
    color:rgb(2, 1, 1);
}
input
{
    padding:10px 60px 10px 60px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
}
.btn
{
    border-radius:5px;
    background-color: blue;
    color:white;
}
.btn:hover
{
    background-color: rgb(17, 23, 104);
}
.btn:active
{
    background-color: rgb(14, 37, 88);
}
a
{
    text-decoration: none;
    font-size: 20px;
    color:blue;
}
